.table_title > h1{color: #29a6e5;
    margin-left: 670px;	border-radius: 15px;}

div.full_course{
	width: 500px;
    margin-left: 470px;
    background-color: #7DE;
    padding: 20px;	border-radius: 15px;
}
.headerdiv{
	background-color: black;
	width: 100%;
	color: white;
	height: 50px;
	font-size: 45px;
	border-radius: 15px;}
body{height: 1024px;
width:100%;
background-color: silver;
text-decoration: none !important;}
	border-radius: 15px;
.a{text-decoration: none;}
        #courses_table{background-color: #7DE;}

#edit{
	border-radius: 15px;
	background-color: #7DE;
	width: 500px;
    margin-left: 470px;
    
}
.category{
	background-color: #7DE;
	border-radius: 15px;
	padding-left: 10px;
	padding: 1px;
}
.cname, .cprice, .cedit{
	width:33%;
}